In [87]:
import pandas as pd
import pymssql
from tqdm import tqdm

server = 'URL'
database = 'DB'
username = 'user'
password = 'password'
port = 1457

conn = pymssql.connect(server=server, user=username, password=password, database=database, port=port)

cursor = conn.cursor()

df = pd.read_csv("data.csv")
df = df.fillna(' ')


table_name = 'table_name'


def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

def insert(query, data, conn, chunk=999):
    cursor = conn.cursor()
    query = query.lower()
    insert_q, values_q = query.split('values') 
    insert_q += 'values' 
    for chunk_data in chunks(data, chunk):
        flat_list = [item for sublist in chunk_data for item in sublist]
        chunk_query = insert_q + ','.join([values_q] * len(chunk_data))
        cursor.execute(chunk_query, tuple(flat_list))
        conn.commit()
                       
                       
                       
total_rows = len(df)
insert_query = f'''INSERT INTO {table_name} (id, funded_amount, loan_amount, activity, sector,
                                            purpose, country_code, country, region, currency,
                                            partner_id, term_in_months, lender_count, tags,borrower_gender,
                                            repayment_interval, name, phone, interest, posted_time, disbursed_time, funded_time, date_a) 
                 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

                       
insert(insert_query,df.values,conn,999)               



cursor.close()
conn.close()
print("hello")

hello